/* Default styles */
.content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  color: #2e266f;
  font-size: 72px;
  font-weight: 500;
}

.search-bar input {
  padding: 20px;
}

.bg {
  position: absolute;
  background-color: #efc81a;
  width: 35%;
  height: 125vh;
  z-index: -1;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#subTitle {
  border-left: 25px solid #efc81a;
  height: 100px;
  padding-left: 5px;
  margin-bottom: 50px;
}

.titleContent {
  font-size: 56px;
}

/* Media queries for responsiveness */

@media (max-width: 1440px) {
  .bg {
    height: 100vh;
  }
}
@media (max-width: 1200px) {
  .heroTitle {
    font-size: 60px;
  }

  .search-bar input {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .bg {
    display: none;
  }

  .container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 48px;
  }


  #subTitle {
    margin-bottom: 30px;
  }

  .titleContent {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .heroTitle {
    font-size: 36px;
  }

  .titleContent {
    font-size: 32px;
  }
}
